[Unit]
Description=Workshop Service 

[Service]
User=vagrant
Group=vagrant
RuntimeDirectory=uwsgi
Restart=always
ExecReload=/bin/kill -HUP $MAINPID
Type=notify
NotifyAccess=all
ExecStart=uwsgi --yaml /home/vagrant/workshop/uwsgi.yml

[Install]
WantedBy=multi-user.target

